<div class="wrapper s__main">
   <div class="body">
      <div class="block_1">
         <div class="container">
            <div class="content">
               <div class="logo">
                  <span>Goji cream</span>
               </div>
               <p>¡Mejor que el botox!</p>
               <div class="print">
                  Tu <u>aliado</u> <span>contra el envejecimiento</span>
               </div>
               <div class="product">
                  <img class="header-product" src="//doolloob.com/content/Goji_cream_Blue_ES/images/product.png"/>
                  <span>Composición</span>
               </div>
               <ul>
                  <li>
                     <span><b>Suaviza</b> las arrugas</span>
                  </li>
                  <li>
                     <span>
                     <b>  Reafirma
                     </b>  la forma de la cara
                     </span>
                  </li>
                  <li>
                     <span>
                     <b>  Mejora
                     </b>  la textura de la piel
                     </span>
                  </li>
                  <li>
                     <span>
                     <b>  Disminuye
                     </b>   los poros
                     </span>
                  </li>
               </ul>
            </div>
         </div>
         <div class="bottom_line">
            <ul class="container">
               <li>
                  <b>  ¡Atención!
                  </b>   Garantizamos la disponibilidad de la crema durante
               </li>
               <li>
                  <b>  ¡Oferta!
                  </b>
                  <ul class="time"></ul>
               </li>
               <li>
                  <button class="pre_toform">
                  <span>  Realizar pedido
                  <b>  ahora
                  </b>
                  </span>
                  </button>
                  <div class="price">
                     <div>
                        <b class="new_price">39
                        </b>
                        <span class="old_price">
                        <span>78
                        </span>
                        <b class="js_curs">€
                        </b>
                        </span>
                     </div>
                  </div>
                  <div class="discount">-50
                     <small>  %
                     </small>
                     <span>  de descuento
                     </span>
                  </div>
               </li>
            </ul>
         </div>
      </div>
      <div class="block_2">
         <div class="container">
            <h3>
               <b>4
               </b>   causas del
               <span>  envejecimiento
               </span>
            </h3>
            <ul class="list_aging">
               <li>
                  <span>
                  <b>  Hidratación
                  </b>   insuficiente
                  </span>
                  <ul>
                     <li>  Humedad:
                        <b>  factor determinante
                        </b>   de juventud
                     </li>
                  </ul>
               </li>
               <li>
                  <span>
                  <b>  Falta de
                  </b>   colágeno
                  </span>
                  <ul>
                     <li>  La piel
                        <b>  pierde
                        </b>   elasticidad
                     </li>
                     <li>  La forma de la cara
                        <b>  se debilita
                        </b>
                     </li>
                  </ul>
               </li>
               <li>
                  <span>
                  <b>  Toxinas
                  </b>   en el organismo
                  </span>
                  <ul>
                     <li>  La complexión
                        <b>  empeora
                        </b>
                     </li>
                     <li>
                        <b>  La piel pierde
                        </b>   inmunidad
                     </li>
                  </ul>
               </li>
               <li>
                  <span>  Influencia
                  <b>  de los rayos UV
                  </b>
                  </span>
                  <ul>
                     <li>
                        <b>  Deterioro
                        </b>   de la bicapa lipídica
                     </li>
                     <li>
                        <b>  Destrucción
                        </b>   de barreras protectoras
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>  en
                        <span>30
                        </span>
                        <br/>   años
                     </li>
                     <li>  en
                        <span>40
                        </span>
                        <br/>   años
                     </li>
                     <li>  en
                        <span>50
                        </span>
                        <br/>   años
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
      <div class="block_3">
         <div class="container">
            <div class="_left">
               <h3>  Regeneración
                  <b>  profunda de
                  </b>
                  <br/>  células y piel de la cara
               </h3>
               <ul>
                  <li>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/skin_before.png"/>
                  </li>
                  <li>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/skin_after.png"/>
                     <div class="print">
                        <span>  Goji cream
                        </span>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="_right">
               <div class="secret">
                  <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/product.png"/>
                  <p>  Goji cream
                  </p>
                  <p>  el mejor secreto de
                     <b>  juventud
                     </b>
                  </p>
               </div>
               <p>  Fórmula antienvejecimiento que contiene un complejo de vitaminas y minerales que combaten todos los problemas relacionados con el envejecimiento de la piel.
               </p>
            </div>
         </div>
      </div>
      <div class="block_4">
         <div class="container">
            <h3>  El complejo trabaja
               <b>  el rejuvenecimiento
               </b>
               <span>3
               <small>  en
               </small> 1
               </span>
            </h3>
            <ul class="young">
               <li>
                  <span>  Hidratación
                  </span>
                  <ul>
                     <li>  Los componentes activos
                        <b>  penetran
                        </b>   en la epidermis
                     </li>
                     <li>
                        <b>  Suaviza
                        </b>   las arrugas, devuelve una complexión saludabale
                     </li>
                  </ul>
               </li>
               <li>
                  <span>  Nutrición
                  </span>
                  <ul>
                     <li>
                        <b>  Nutre la piel
                        </b>   con vitaminas y micronutrientes
                     </li>
                     <li>
                        <b>  Estimula
                        </b>   la producción de colágeno y elastina
                     </li>
                  </ul>
               </li>
               <li>
                  <span>  Revitalización
                  </span>
                  <ul>
                     <li>  El colágeno y la elastina
                        <b>  suavizan
                        </b>   las arrugas
                     </li>
                     <li>  La crema forma una
                        <b>  barrera protectora
                        </b>   sobre la superficie de la piel
                     </li>
                  </ul>
               </li>
               <li>
                  <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/product.png"/>
                  <div class="sm_logo">
                     <span>  Goji cream
                     </span>
                  </div>
               </li>
            </ul>
         </div>
      </div>
      <div class="block_5">
         <div class="container">
            <h3>  Goji cream: composición excepcionalmente natural
            </h3>
            <div class="_left">
               <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/product.png"/>
               <span>  composición
               </span>
            </div>
            <div class="_right">
               <ul>
                  <li>
                     <p>
                        <span>  Betaína y aceites vegetaales
                        </span>
                        <b>  que nutren y calman la piel, previniendo la falta de hidratación
                        </b>   y neutralizando la influencia agresiva de los rayos UV
                     </p>
                     <p>
                        <span>  El extracto de bayas de Goji
                        </span>
                        <b>  es un antioxidante natural
                        </b>   que estimula la producción más rápida de colágeno
                     </p>
                  </li>
                  <li>
                     <p>
                        <span>  Las vitaminas C, E y B
                        </span>
                        <b>  proporcionan
                        </b>   una regeneración más rápida de las células y dan salud y brillo a la piel.
                     </p>
                     <p>
                        <span>  El complejo de aminoácidos
                        </span>
                        <b>  ralentiza en proceso de envejecimiento,
                        </b>   reduce la pigmentación de la piel propia de la edad.
                     </p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="block_6">
         <div class="container">
            <div class="_left">
               <div class="print">  Efecto a
                  <b>  nivel molecular
                  </b>
               </div>
            </div>
            <div class="_right">
               <h3>  Hidratación y nutrición
               </h3>
               <p>  La hidratación y nutrición activas permiten
                  <b>  una renovación celular más rápida.
                  </b>   Goji cream
                  <b>  regenera la capa superior de la piel.
                  </b>
               </p>
               <div class="logo">
                  <span>  Goji cream
                  </span>
               </div>
               <span>  ¡Fórmula en crema que suaviza las arrugas en 30 días!
               </span>
               <ul>
                  <li>
                     <span>  Las células reciben suficiente
                     <b>  hidratación
                     </b>
                     </span>
                  </li>
                  <li>
                     <span>  Reposición de
                     <b>  vitaminas
                     </b>
                     </span>
                  </li>
                  <li>
                     <span>  Protege de
                     <b>  las influencias medioambientales
                     </b>
                     </span>
                  </li>
               </ul>
               <button class="pre_toform">
               <span>  Realizar pedido
               <b>  ahora
               </b>
               </span>
               </button>
            </div>
         </div>
      </div>
      <div class="block_7_1">
         <div class="container">
            <h3>  Protección
               <b>  intensiva
               </b>   de la piel
            </h3>
            <ul class="img_anim">
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li>
                  <s>
                  </s>
                  <s>
                  </s>
                  <s>
                  </s>
                  <s>
                  </s>
               </li>
               <li>
                  <s>
                  </s>
                  <s>
                  </s>
                  <s>
                  </s>
               </li>
               <li>
                  <s>
                  </s>
                  <s>
                  </s>
                  <s>
                  </s>
               </li>
               <li></li>
            </ul>
            <ul>
               <li>
                  <span>  Nutrición activa
                  </span>
                  <ul>
                     <li>  Las moléculas que contiene la fórmula antienvejecimiento de Goji cream capturan la humedad del aire, penetran en las capas más profundas de la piel y nutren las células.
                     </li>
                  </ul>
               </li>
               <li>
                  <span>  Recuperación de la piel
                  </span>
                  <ul>
                     <li>  Los antioxidantes que contiene la composición de la crema penetran en las capas más profundas de la piel y entran en las células, acabando con las toxinas.
                     </li>
                  </ul>
               </li>
               <li>
                  <span>  Suaviza las arrugas
                  </span>
                  <ul>
                     <li>  La piel regenerada empieza a producir colágeno, que suaviza las arrugas activamente.
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
      <div class="block_8">
         <div class="container">
            <ul class="_left">
               <li>
                  <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/product.png"/>
                  <div>
                     <span>  Goji cream
                     </span>
                  </div>
                  <p>  es fácil de aplicar
                  </p>
                  <span>  2 pasos hacia el rejuvenecimiento de la piel:
                  </span>
               </li>
               <li>
                  <span>
                  <b>PASO 1
                  </b>
                  <br/> Limpia la piel de restos de maquillaje e impurezas con limpiador o tónico.
                  </span>
               </li>
               <li>
                  <span>
                  <b>PASO 2
                  </b>
                  <br/> Aplica la crema para limpiar la piel con movimientos circulares, evitando la zona de los ojos. Para conseguir el máximo efecto, utiliza la crema por la mañana y por la noche durante 30 días.
                  </span>
               </li>
            </ul>
            <div class="_right">
               <h3>  Esto es lo que conseguirás:
               </h3>
               <ul>
                  <li>
                     <span>
                     <b>  Suavidad
                     </b>   y
                     <b>  elasticidad
                     </b>   en la piel
                     </span>
                  </li>
                  <li>
                     <span>
                     <b>  Apariencia
                     </b>   elástica y limpia de la piel
                     </span>
                  </li>
                  <li>
                     <span>  Eliminación de todas
                     <b>  las imperfecciones.
                     </b>
                     </span>
                  </li>
                  <li>
                     <span>
                     <b>  Complexión
                     </b>   saludable y brillante
                     </span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="block_9">
         <div class="container">
            <h3>  Hemos
               <b>  preguntado
               </b>   a nuestros clientes:
            </h3>
            <ul>
               <li>
                  <div>49
                     <span>  miles
                     </span>
                     <span>  de mujeres
                     </span>
                  </div>
                  <p>  han notado
                     <b>  el efecto rejuvenecedor
                     </b>   de Goji Cream
                  </p>
               </li>
               <li>
                  <div>  EL 97 %
                     <span>  de las mujeres
                     </span>
                  </div>
                  <p>  confirman
                     <b>  que suaviza las arrugas
                     </b>
                  </p>
               </li>
               <li>
                  <div>  El 87 %
                     <span>  de las mujeres
                     </span>
                  </div>
                  <p>  han experimentado
                     <b>  una mejora en la complexión
                     </b>   de su piel
                  </p>
               </li>
               <li>
                  <div>99
                     <small>  El 8 %
                     </small>
                     <span>  de las mujeres
                     </span>
                  </div>
                  <p>
                     <b>  están totalmente satisfechas
                     </b>   con el uso de Goji Cream
                  </p>
               </li>
               <li>
                  <div>5
                     <span>  para
                     </span>
                  </div>
                  <p>  conseguir
                     <b>  mejoras visibles
                     </b>
                  </p>
               </li>
            </ul>
         </div>
      </div>
      <div class="block_10">
         <div class="container">
            <div class="title">
               ¿Por qué es
               <span>  Goji Cream
               </span>
               <p>  el producto nº 1 para el rejuvenecimiento?
               </p>
            </div>
            <table>
               <tr>
                  <th></th>
                  <th>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/product.png"/>
                     <span>  Goji Cream
                     </span>
                  </th>
                  <th>  Masajes faciales
                  </th>
                  <th>  Un curso de tratamientos de spa
                  </th>
                  <th>  Cirugía plástica
                  </th>
                  <th>  Cursos de rejuvenecimiento
                  </th>
               </tr>
               <tr>
                  <td>  Efectividad
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td>  Resultados rápidos
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td>  Se puede usar en casa
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td>  Es indoloro
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td>  Seguridad
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
            </table>
            <p>  La eficacia de Goji Cream ha sido clínicamente probada
            </p>
         </div>
      </div>
      <div class="block_11">
         <div>
            <div class="container">
               <div class="product">
                  <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/product.png"/>
                  <span>  composición
                  </span>
               </div>
               <div class="text">
                  <p>
                     <b>  Efectos
                     </b>   en varios días de aplicación
                  </p>
                  <p>  Tu piel
                     <span>  rejuvenece
                     </span>   en nada de tiempo
                  </p>
                  <button class="pre_toform">
                  <span>  Realizar pedido
                  <b>  ahora
                  </b>
                  </span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="block_12">
         <div class="container">
            <div class="print">  Rápido y
               <b>  efectivo
               </b>
            </div>
            <p>  Resultados de usar
               <span>  Goji Cream
               </span>
            </p>
            <ul>
               <li>
                  <span>  Semana 1
                  </span>
               </li>
               <li>
                  <span>  Semana 2
                  </span>
               </li>
               <li>
                  <span>  Semana 3
                  </span>
               </li>
            </ul>
         </div>
      </div>
      <div class="block_13">
         <div class="container">
            <h3>  ¡Los profesionales creen que
               <b>  Goji Cream es mejor que el botox!
               </b>
            </h3>
            <div class="text">
               <p>  La eficacia de
                  <span>
                  <span>  Goji Cream
                  </span>
                  </span>   ha sido probada por docenas
                  <b>  de investigaciones,
                  </b>  patentes
                  <b>  científicas
                  </b>   y experimentos
                  <b>  de larga duración.
                  </b>
               </p>
               <p>
                  <b>  Su fórmula
                  </b>   es igual de
                  <b>  efectiva
                  </b>   tanto en las arrugas más desarrolladas como en las primeras etapas del envejecimiento.
               </p>
               <p>   Goji Cream es el producto más potente y efectivo para el cuidado de la piel en proceso de envejecimiento y proporciona una máxima concentración de componentes naturales.
               </p>
               <p>  En 2016, Goji Cream se consideró la única alternativa a las inyecciones de rejuvenecimiento.
               </p>
               <p>
                  <i>  Miguel Ángel Murillo,
                  <br/>  dermatólogo,
                  <br/>  Candidato de los Resultados de las
                  </i>
               </p>
            </div>
         </div>
      </div>
      <div class="block_14">
         <div class="container">
            <h3>
               <b>  Ciencias Médicas y fotografías
               </b>   de nuestros clientes
            </h3>
            <ul class="photo_ins">
               <li>
                  <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/ins1.jpg"/>
               </li>
               <li>
                  <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/ins2.jpg"/>
               </li>
               <li>
                  <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/ins3.jpg"/>
               </li>
            </ul>
         </div>
         <div class="dop">
            <div class="container">
               <ul>
                  <li>
                     <div>
                        <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_1.jpg"/>
                        <span class="before">  Antes
                        </span>
                        <span class="after">  En 1 mes
                        </span>
                     </div>
                     <p>  Cristina Núñez, 47 años
                     </p>
                     <p>  "En la primera semana las bolsas de los ojos me desaparecieron por completo y después de un mes se me suavizó esa horrible arruga que tenía en la frente. ¡Estoy muy contenta!"
                     </p>
                  </li>
                  <li>
                     <div>
                        <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_2.jpg"/>
                        <span class="before">  Antes
                        </span>
                        <span class="after">  En 1 mes
                        </span>
                     </div>
                     <p>  Susana Gómez, 41 años
                     </p>
                     <p>  "Lo llevo usando un mes. Han dejado de cederme asientos en el metro y ya no me llaman "señora'".
                     </p>
                  </li>
                  <li>
                     <div>
                        <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_3.jpg"/>
                        <span class="before">  Antes
                        </span>
                        <span class="after">  En 1 mes
                        </span>
                     </div>
                     <p>  María Gutiérrez, 32 años
                     </p>
                     <p>  "¡En 3 meses me he quitado 5 años de encima! Ningún otro producto me daba resultados. ¡Me siento mejor que nunca!"
                     </p>
                  </li>
               </ul>
            </div>
         </div>
         <div class="container">
            <ul class="img_list">
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_4.jpg"/>
                     <span class="before2">  Antes
                     </span>
                     <span class="after2">  Después
                     </span>
                  </div>
               </li>
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_5.jpg"/>
                     <span class="before2">  Antes
                     </span>
                     <span class="after2">  Después
                     </span>
                  </div>
               </li>
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_6.jpg"/>
                     <span class="before2">  Antes
                     </span>
                     <span class="after2">  Después
                     </span>
                  </div>
               </li>
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_7.jpg"/>
                     <span class="before2">  Antes
                     </span>
                     <span class="after2">  Después
                     </span>
                  </div>
               </li>
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_8.jpg"/>
                     <span class="before2">  Después de 3 meses de uso
                     </span>
                  </div>
               </li>
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_9.jpg"/>
                     <span class="before2">  Antes
                     </span>
                     <span class="after2">  Después
                     </span>
                  </div>
               </li>
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_10.jpg"/>
                     <span class="before2">  Después de 1 mes de uso
                     </span>
                  </div>
               </li>
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_11.jpg"/>
                     <span class="before2">  Antes
                     </span>
                     <span class="after2">  Después
                     </span>
                  </div>
               </li>
               <li>
                  <div>
                     <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/before_after_12.jpg"/>
                     <span class="before2">  Antes
                     </span>
                     <span class="after2">  Después
                     </span>
                  </div>
               </li>
            </ul>
         </div>
      </div>
      <div class="block_15">
         <div class="container">
            <div class="content">
               <div class="logo">
                  <span>  Goji cream
                  </span>
               </div>
               <p>  ¡Mejor que el botox!
               </p>
               <div class="_left">
                  <p>  Realiza tu pedido ahora y consigue
                  </p>
                  <span>  un descuento
                  </span>
                  <span class="big">  del 50 %
                  </span>
               </div>
               <div class="_right">
                  <img src="//doolloob.com/content/Goji_cream_Blue_ES/images/product.png"/>
                  <span>  composición
                  </span>
               </div>
               <div class="_left _b">
                  <b>  ¡Atención!
                  </b>   Garantizamos la disponibilidad de la crema durante:
               </div>
               <div class="_right _b">
                  <b>  ¡Oferta!
                  </b>
                  <ul class="time"></ul>
               </div>
            </div>
            <div class="form">
               <p>  Registro de pedido
               </p>
               <ul class="price">
                  <li>  nuevo
                     <br/>  precio
                  </li>
                  <li class="new_price">39
                  </li>
                  <li class="old_price">
                     <span>78
                     </span>
                     <b class="js_curs"> €
                     </b>
                  </li>
               </ul>
               <form id="formulario" [formGroup]="formulario" novalidate>
                 <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
                       primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }"></ngx-loading>
                  <input type="hidden" name="price_w_vat" value="47">
                  <input type="hidden" name="esub" value="-6AAEvAjsNAAAAAALZDAEAAkImAgYBAsYGBBVvCUIAAAA">
                  <input type="hidden" name="shipment_vat" value="0.21">
                  <input type="hidden" name="ip_city" value="Maracaibo">
                  <input type="hidden" name="template_name" value="Goji_cream_Blue_ES">
                  <input type="hidden" name="offer_id" value="3387">
                  <input type="hidden" name="old_price" value="78">
                  <input type="hidden" name="currency" value="€">
                  <input type="hidden" name="package_id" value="1">
                  <input type="hidden" name="country_code" value="ES">
                  <input type="hidden" name="ip_country" value="VE">
                  <input type="hidden" name="preland_name" value="Goji_cream_Blue_ES">
                  <input type="hidden" name="user_safe_id" value="b111257ce5ebbaacc2f152e90c1a2b33">
                  <input type="hidden" name="total_price" value="39.0">
                  <input type="hidden" name="shipment_price" value="0">
                  <input type="hidden" name="goods_id" value="24">
                  <input type="hidden" name="title" value="Goji cream  - ES">
                  <input type="hidden" name="accept_languages" value="es-ES,es;q=0.8">
                  <input type="hidden" name="total_price_wo_shipping" value="39.0">
                  <input type="hidden" name="package_prices" value="{u'1': {'price': 39, 'old_price': 78, 'price_w_vat': 47, 'shipment_price': 0}, u'3': {'price': 78, 'old_price': 156, 'price_w_vat': 94, 'shipment_price': 0}, u'5': {'price': 117, 'old_price': 234, 'price_w_vat': 142, 'shipment_price': 0}}">
                  <input type="hidden" name="protected" value="None">
                  <input type="hidden" name="ip_country_name" value="Venezuela, Bolivarian Republic of">
                  <input type="hidden" name="test" value="1">
                  <input type="hidden" name="price" value="39">
                  <input type="hidden" name="price_vat" value="0.21">
                  <select [(ngModel)]="pais" id="pais" name="pais" formControlName="pais">
                     <option value="ES">España</option>
                     <option [attr.value]="paises.countryCode">{{ paises.country }}</option>
                  </select>
                  <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre completo" formControlName="nombre" [ngClass]="{'invalid': validateNombre()}">
                  <p class="alert" *ngIf="validateNombre()">Este campo es requerido, ej: Judit Flores</p>
                  <input  type="text" name="telefono" [(ngModel)]="telefono" placeholder="Teléfono" formControlName="telefono" pattern="[0-9]{9}" (keypress)="_keyPress($event)" maxlength="9" [ngClass]="{'invalid': validatePhone()}">
                  <p class="alert" *ngIf="validatePhone()">Este campo es requerido, ej: +34 XX XXX XXXX</p>
                  <button type="buttom" (click)="guardar(formulario)">
                  <span>  Realizar pedido
                  <b>  ahora
                  </b>
                  </span>
                  </button>
                  <div class="toform"></div>
               </form>
            </div>
         </div>
      </div>
      <div class="block_16">
         <div class="container">
            <div class="center"></div>
         </div>
      </div>
   </div>
</div>
<div class="cc_widget" ></div>
