<div class="class-window v1_1_1_1">
  <div class="h-w-header">
      <div class="h-w-contant">
         <div class="h-w-header-text">
            <span><b>Goji Cream</b> - ¡el sistema adelgazante Nº1!</span>
         </div>
      </div>
   </div>
  <div class="h-w-main">
    <div class="h-w-contant">
     <div class="h-w-left">
        <div class="h-w-payment h-w-decor-block h-w-vis-mob">
           <p>PAGO AL <span>SER ENTREGADO</span></p>
           <ul>
              <li><span>EL PEDIDO</span></li>
              <li><span>ENVÍO</span></li>
              <li><span>ENTREGA Y PAGO</span></li>
           </ul>
        </div>
        <div class="h-w-vis-mob h-w-ico h-w-select">
           <select class="change-package-selector" [(ngModel)]="count" name="count">
              <option data-slide-index="0" value="1">1 paquete</option>
              <option data-slide-index="1" selected="selected" value="3">2+1 paquetes</option>
              <option data-slide-index="2" value="5">3+2 paquetes</option>
           </select>
        </div>
        <ul class="bx-bx">
           <li data-value="1" (click)="changeCount('li1')" id="li1">
              <div class="h-w-block">
                 <div class="h-w-check js_changer h-w-ico"></div>
                 <div class="h-w-item">
                    <div class="h-w-item-img">
                       <div class=" h-w-item-prod"></div>
                    </div>
                    <div class="h-w-item-description">Rejuvenecimiento visible tras solo un mes de uso</div>
                 </div>
                 <div class="h-w-price">
                    <p>paquete</p>
                    <ul>
                       <li class="h-w-old-price"><span>Precio anterior:</span><span>78 <font>€</font></span></li>
                       <!--  -->
                       <li class="h-w-total"><span>Precio:</span><span>39 <font>€</font></span></li>
                       <!--  -->
                    </ul>
                    <div class="h-w-discount">
                       <b>Atención :</b> HAY UN <span>50% DE DESCUENTO</span>
                    </div>
                 </div>
              </div>
           </li>
           <li data-value="3" class="active" (click)="changeCount('li2')" id="li2">
              <div class="h-w-block">
                 <div class="h-w-check js_changer h-w-ico"></div>
                 <div class="h-w-item">
                    <div class="h-w-item-img">
                       <div class="h-w-item-prod"></div>
                       <span><font>+ un regalo</font></span>
                    </div>
                    <div class="h-w-item-description">
                       ¡El camino hacia la juventud! Efecto lifting y suavizamiento de las arrugas más profundas en tan solo tres meses. Resultados garantizados.
                    </div>
                 </div>
                 <div class="h-w-price">
                    <p>Paquetes <span>un regalo</span></p>
                    <ul>
                       <li class="h-w-old-price"><span>Precio anterior:</span><span>156 <font>€</font></span></li>
                       <!--  -->
                       <li class="h-w-total"><span>Precio:</span><span>78 <font>€</font></span></li>
                       <!--  -->
                    </ul>
                    <div class="h-w-discount">
                       <b>Atención :</b> HAY UN <span>50% DE DESCUENTO</span>
                    </div>
                 </div>
              </div>
           </li>
           <li data-value="5" (click)="changeCount('li3')" id="li3">
              <div class="h-w-block">
                 <div class="h-w-check js_changer h-w-ico"></div>
                 <div class="h-w-item">
                    <div class="h-w-item-img">
                       <div class="h-w-item-prod"><span></span></div>
                       <span><font>+ dos regalos</font></span>
                    </div>
                    <div class="h-w-item-description">¡Rejuvenecimiento máximo! Medio año de tratamiento no solo conseguirá acabar con tus cambios propios de la edad, sino que además prevendrá su reaparición.</div>
                 </div>
                 <div class="h-w-price">
                    <p>Paquetes <span>dos regalos</span></p>
                    <ul>
                       <li class="h-w-old-price"><span>Precio anterior:</span><span>234 <font>€</font></span></li>
                       <!--  -->
                       <li class="h-w-total"><span>Precio:</span><span>117 <font>€</font></span></li>
                       <!--  -->
                    </ul>
                    <div class="h-w-discount">
                       <b>Atención :</b> HAY UN <span>50% DE DESCUENTO</span>
                    </div>
                 </div>
              </div>
           </li>
        </ul>
     </div>
     <div class="h-w-right">
        <div class="h-w-payment h-w-decor-block h-w-hide-mob">
           <p>PAGO AL <span>SER ENTREGADO</span></p>
           <ul>
              <li><span>EL PEDIDO</span></li>
              <li><span>ENVÍO</span></li>
              <li><span>ENTREGA Y PAGO</span></li>
           </ul>
        </div>
        <div class="h-w-honesty h-w-ico h-w-hide-mob">TRANSACCIÓN SEGURA</div>
        <div class="h-w-form h-w-decor-block" id="scrollForm">
           <p><b>INTRODUCE TUS DATOS </b> PARA HACER UN PEDIDO</p>
           <form id="formulario2" [formGroup]="formulario2" novalidate>
             <p class="hide alert" id="mensaje">Rellene todos los campos</p>
              <div class="h-w-select h-w-ico">
                 <select class="change-package-selector" [(ngModel)]="count" formControlName="count" name="count">
                    <option data-slide-index="0" value="1">1 paquete</option>
                    <option data-slide-index="1" selected="selected" value="3">2+1 paquetes</option>
                    <option data-slide-index="2" value="5">3+2 paquetes</option>
                 </select>
              </div>
              <div class="input_inner">
                <input class="inp" [(ngModel)]="street" formControlName="street" name="street" placeholder="Calle" type="text" autocomplete="off" [ngClass]="{'invalid': validate('street')}">
                <input class="inp" [(ngModel)]="house" formControlName="house" name="house" placeholder="Numero de casa" type="text" autocomplete="off" [ngClass]="{'invalid': validate('house')}">
                <input class="inp" [(ngModel)]="entrance" formControlName="entrance" name="entrance" placeholder="Portal / Escalera" type="text" autocomplete="off" [ngClass]="{'invalid': validate('entrance')}">
                <input class="inp" [(ngModel)]="floor" formControlName="floor" name="floor" placeholder="Planta" type="text" autocomplete="off" [ngClass]="{'invalid': validate('floor')}">
                <input class="inp" [(ngModel)]="apartment" formControlName="apartment" name="apartment" placeholder="Puerta" type="text" autocomplete="off" [ngClass]="{'invalid': validate('apartment')}">
                <input class="inp" [(ngModel)]="city" formControlName="city" name="city" placeholder="Ciudad" type="text" autocomplete="off" [ngClass]="{'invalid': validate('city')}">
                <input class="inp" [(ngModel)]="postal_code" formControlName="postal_code" name="postal_code" placeholder="Codigo postal" type="text" autocomplete="off" [ngClass]="{'invalid': validate('postal_code')}">
                <textarea class="inp textarea-style" [(ngModel)]="comment" formControlName="comment" name="comment" placeholder="Comentario para la mensajeria" type="text" rows="3" [ngClass]="{'invalid': validate('comment')}"></textarea>
              </div>
              <div class="h-w-text-total">Precio: <span><font class="js_full_price">78</font> €</span></div>
                <button type="buttom" (click)="guardar(formulario2)">PEDIR</button>
           </form>
        </div>
        <div class="h-w-guarantee h-w-decor-block">
           <p>TE GARANTIZAMOS:</p>
           <ul>
              <li><b>100%</b> calidad</li>
              <li><b>Comprobar</b> el producto tras recibirlo</li>
              <li><b>Seguridad</b> de tus datos</li>
           </ul>
        </div>
        <div class="h-w-vis-mob">
           <div class="h-w-honesty h-w-ico">TRANSACCIÓN SEGURA</div>
        </div>
     </div>
  </div>
  </div>
</div>
